<%-include("partials/header") %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <%-include("partials/navbar") %>

  <div class="row">
    <div class="col">
      <h1 class="text-center">Nueva publicaci贸n</h1>
      <div class="container">
      <button id="mostrarFormulario" class="btn btn-sm btn-primary">Nueva publicaci贸n</button>
    </div>
    </div>
  </div>

  <!-- Formulario (inicialmente oculto) -->
  <div class="row" id="formulario" style="display: none;">
    <div class="col-md-4 mx-auto">
      <form action="#" id="form-nuevo">
        <div class="mb-3">
          <input type="text" id="titulo" placeholder="Titulo" class="form-control">
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" id="detalle" style="height: 100px"></textarea>
          <label>Detalle:</label>
      </div>
        <div class="mb-3">
          <input type="text" id="url_imagen" placeholder="URL imagen" class="form-control">
        </div>

        <div class="mb-3">
          <input type="date" id="fecha_publicacion" class="form-control">
        </div>
        <div class="mb-3">
          <input type="time" id="hora_manual" placeholder="Hora" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" id="firma_autor" placeholder="Firma autor" class="form-control">
        </div>

        <button type="submit" class="btn btn-sm btn-primary">
          Guardar
        </button>
      </form>
    </div>
  </div>

  <!-- JavaScript para mostrar/ocultar el formulario -->
  <script>
    const mostrarFormularioBtn = document.getElementById('mostrarFormulario');
    const formulario = document.getElementById('formulario');

    // Agregamos un controlador de eventos al bot贸n para mostrar/ocultar el formulario
    mostrarFormularioBtn.addEventListener('click', () => {
      if (formulario.style.display === 'none' || formulario.style.display === '') {
        formulario.style.display = 'block'; // Mostrar el formulario
      } else {
        formulario.style.display = 'none'; // Ocultar el formulario
      }
    });

  </script>
</body>

            <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Editar una publicaci贸n</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <main id="lista-publicaciones-admin">
                        
            
            
            
                        
                        
                    </main>
                </div>
            </div>

            </div>



    <script src="/js/admincopy.js" type="module"></script>

    <script src="/js/homecopy.js" type="module"></script>

    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm' crossorigin='anonymous'></script>

</body>
</html>