body{
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
}

h1 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7); 
  margin-bottom: 50px;
  margin-top: 30px;
}

h4{
  color: rgb(255, 255, 255);
  text-shadow: 2px 3px 4px rgb(0, 174, 255); 
}
  
p{
  color: rgb(255, 255, 255);
}
.p_footer{
  color: goldenrod;
}

section.d-flex {
  border: 1px solid white;
  padding:15px;
  max-width: 700px;
  background-color: #222;
}

@media (width < 700px) {
  section.d-flex{
    display: flex;
    flex-direction: column;
  }
  
}


img{
  transition: transform 0.3s, filter 0.3s;
  max-width: 220px;
  max-height: 220px;
}

img:hover {
  filter: brightness(1.2); 
  transform: scale(1.02);
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-fluid {
  margin-left: 20px;
}